.SkillContainer{
    color: white;
    padding-top: 60px;
    padding-bottom:54px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.SkillImages{
    width: 80px;
    height: 100px;
    padding:8px;
}

.reduxIcon{
    width: 200px;
    padding:8px;
}

.reactQueryIcon{
    width: 200px;
    padding:8px;
}

.header{
    color: black;
}

.ImageContainer{
    background-color: black;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}


